/* Body
-------------------------------------------------------------- */
//@import "../utils/media_sizes.scss";

body {
	margin: 0;
	padding: 0;
}
//
//.page_wrapper {
//	letter-spacing: 0px;
//	margin: 0 auto;
//	padding: 0;
//	width: $desktop;
//
//	@media (max-width: $desktop) {
//		width: inherit;
//	}
//	text-align:right;
//}