primary = #ff0000
secondary = #00ff00
tertiary = #0000ff
quaternary = #30d5c8
foreground = #d540d0
background = #fffa0a

colors = {
'1': primary
'2': secondary,
'3': tertiary,
'4': quaternary,
'5': foreground,
'6': background,
};

@require './_colors_func'